/* 
COLOR PALETTE
#36393B-Onyx
#A5D8FF-Uranian blue
#FEFEFF-Radical Red
#2B50AA-Cerulean blue
#99E1D9-Middle blue green
*/



/*Global Styles
---------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color:#36393B;
    margin: 0;
    padding: 0;
    font-family: 'Monterrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width:300px;
}
a {
    color:#FF1053
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1;
}
h2 {
    font-size:45px;
}
h1,h2, h3 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    margin: 0;
}
h3 {
    text-align: center;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/*Profile
---------------------------------------*/
header {
    background: #2b50aa;
    color: white;
}

header h1, header h2 {
    color: gold;
    font-family: 'Caveat', cursive;
}
header h1 {
    width: 4em;
    word-break: break-word;
    display: inline-block;
}
header h2 {
    display: inline-block; 
    position: relative;
    bottom: 110px;
}
/*Nav Menu
---------------------------------------*/
/* Navbar background */
.navMenu {
    background: #2b50aa;
    color: white;
}
/* Changes Navbar size and color */
.navMenu a {
	text-decoration: none; 
	color: #fff; 
    padding: 25px 20px; 
}

/* Remove Bullets */
.navMenu ul {
	list-style: none; 
}
/* Changes background color, position and adds border*/
.navMenu ul li {
	position: relative;
	display: inline-block; 
	background: #99E1D9; 
	padding: 40px 10px;
    font: bold 18px;
    font-family: 'Pacifico', cursive;
    margin-right: -4px;
    text-align: left;
    border-right: 1px dashed #36393B;
    left: 25px;
    
}
/* Removes dash border from right*/
.navMenu ul li:last-child {
    border-right: none;
}
/* Changes hover color */
.navMenu ul li:hover {
    background: #2b50aa; 
    
}
/* Sub menus on screen */
.navMenu ul li:hover ul {
    left: 0; 
    
}
/* Submenu off screen */
.navMenu ul li ul {

	position: absolute;
	left: -99999px;  
	width: 200%;
	top: 102px;
    padding: 0;
}
/* Displays sub menu as block */
.navMenu ul li ul li {
	display: block; 
    background: #99E1D9;
    border-bottom: 1px dashed #36393B;
    border-right: none;
    left: 0px;
}
/* Remove dash border from bottom*/
.navMenu ul li ul li:last-child {
    border-bottom: none;
}
/* Sub menu hover color */
.navMenu ul li ul li:hover {
	background: #2b50aa;
	
}

/*Projects
---------------------------------------*/
.projects {
    background: #99E1D9 ;
}
.projects a{
    color: #2b50aa;
}
.projects .btn{
    color: #f7fff7;
    background: #2b50aa;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(43, 80 , 170, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #36393B;
    padding: 25px 0;
}
.project-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
}
.project-item h3 {
    margin-top: 0;
}
/*Work Experience
---------------------------------------*/
.work-experience {
    background: #A5d8ff;
}

/*Education
---------------------------------------*/


/*Contact Info
---------------------------------------*/
footer {
    background-color: #36393B;
}
